body{
    background: #eeeff0;
}
/* ============NAVBAR============ */

.search_Bar {
 width: 55%;
 max-width: 450px;
}
.search_Bar input{
 border-radius: 12px;
}
.select_menu{
 max-width: 450px;
}
.select_menu label{
 border-radius: 12px 0px 0px 12px;
 color: rgb(0, 174, 243);
 /* font-weight: 600; */
}
.select_menu select{
 border-radius: 0px 12px 12px 0px;
}
.navbar-nav form input{
 background: #eeeff0;
 border: none;
}
.profile_img{
    width: 65px;
    height: 63px;
    border-radius: 23px;
    margin-right: 10px;
}
.profile_name{
    color: rgb(0, 174, 243);
    font-weight: 700;
}
.comp_logo{
    background: #68b0f8;
    padding: 10px 15px;
    border-radius: 22px;
}

/* ========== */

.tabs_section{
    border-radius: 12px;
    background: white;
    width: 97%;
    white-space: nowrap;
    overflow-x: auto;
}
.tabs_section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
.tabs_section i{
    font-weight: 900;
    font-size: 20px;
    padding: 8px 13px;
    background: #eeeff0;
    border-radius: 12px;
    margin-right: 10px;
}
.tabs_section a{
    text-decoration: none;
}
.tabs_section ul{
    list-style-type: none;
    padding: 24px 0px 28px;
    /* background: gray; */
}
.tabs_section a{
    color: black;
    font-weight: 600;
}
.tabs_section .active i{
    font-size: 20px;
    padding: 7px 12px;
    background: white;
    color: skyblue;
    border-radius: 12px;
    margin-right: 10px
}
.tabs_section a{
    color: black;
    padding: 30px;
}
.tabs_section .active{
    color: white;
    /* background: linear-gradient(45deg, #6edcff, transparent); */
    padding: 30px;
    border-radius: 12px;
    background: #68b0f8;}